*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fixed-debugger {
    position: fixed;
    top: 2rem;
    left: 2rem;
    padding: 1rem;
    background: white;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: calc(600px + 4rem);
}

.fixed-debugger > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}